SharedResources/SharedStuff/wsdl/abstractParticipants.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<definitions targetNamespace="urn:medParticipants"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="urn:medParticipants"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
             xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
             xmlns:xqcm="http://xmlns.qualogy.com/marQtplaats">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="oramds:/apps/xsd/MarQtplaats.xsd"
                  namespace="http://xmlns.qualogy.com/marQtplaats"/>
    </xsd:schema>
  </types>
  <message name="ParticipantMessage">
    <part name="payload" element="xqcm:Participant"/>
  </message>
  <message name="StatusMessage">
    <part name="payload" element="xqcm:StatusResponse"/>
  </message>
  <message name="LookupEmailAddresRequest">
    <part name="payload" element="xqcm:NickName"/>
  </message>  
  <message name="ParticipantIdentification">
    <part name="payload" element="xqcm:NickName"/>
  </message>  
  <message name="ParticipantIsSeller">
      <part name="payload" element="xqcm:IsSeller"/>
  </message>
  <message name="LookupEmailAddresResponse">
      <part name="payload" element="xqcm:EmailAddress"/>
  </message>
  <portType name="ParticipantsPort">
    <documentation>
      Abstract WSDL, just defining the interface (operations plus message
      structures).
    </documentation>
    <operation name="insert">
      <input message="tns:ParticipantMessage"/>
      <output message="tns:StatusMessage"/>
    </operation>
    <operation name="lookupEmail">
      <input message="tns:LookupEmailAddresRequest"/>
      <output message="tns:LookupEmailAddresResponse"/>
    </operation>
    <operation name="participantIsSeller">
      <input message="tns:ParticipantIdentification"/>
      <output message="tns:ParticipantIsSeller"/>
    </operation>
    <operation name="lockParticipant">
    <input message="tns:ParticipantIdentification"/>
    </operation>
    <operation name="makeParticipantValidated">
    <input message="tns:ParticipantIdentification"/>
    </operation>
  </portType>
</definitions>
