SharedResources/SharedStuff/wsdl/abstractAuction.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<definitions targetNamespace="urn:abstractAuction"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="urn:abstractAuction"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
             xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
             xmlns:xqcm="http://xmlns.qualogy.com/marQtplaats">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="oramds:/apps/xsd/MarQtplaats.xsd"
                  namespace="http://xmlns.qualogy.com/marQtplaats"/>
    </xsd:schema>
  </types>
  <message name="AuctionRegistrationRequestMessage">
    <part name="payload" element="xqcm:AuctionRegistrationRequest"/>
  </message>
  <message name="AuctionsResponseMessage">
    <part name="payload" element="xqcm:Auctions"/>
  </message>
  <message name="AuctionsRequestMessage">
    <part name="payload" element="xqcm:ListAuctionsRequestDate"/>
  </message>
  <portType name="Auctions">
    <operation name="RegisterAuction">
      <input message="tns:AuctionRegistrationRequestMessage"/>
    </operation>
    <operation name="ListAuctions">
      <input message="tns:AuctionsRequestMessage"/>
      <output message="tns:AuctionsResponseMessage"/>
    </operation>
  </portType>
</definitions>
